.social{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.social-media-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;
}

.social-media-list li a {
    color: #888;
    transition: color 0.5s;
}

.logo-facebook:hover {
    color: #3b5998
}

.logo-twitter:hover {
    color: #00aced
}

.logo-instagram:hover {
    color: #517fa4
}

.logo-github:hover {
    color: #6cc644
}