.container{
  width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.App {
  height:100%;
  font-family: 'Playfair Display', serif;
  text-align: center;
  position: fixed;
  top: 52%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.last{
  font-size: 5vmax;
  font-weight: 500;
  padding-top:20vh ;
  letter-spacing: 0.07px;

}

.job{
  font-size: 2.7vw;
}



button{
  background: transparent;
  border:none;
  outline: none;
}

button:hover{
  text-decoration: underline;
}

button:focus{
  outline:none !important;
}

.line{
  border-left: 6px solid black;
  height: 5vh;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  
}

.underline--magical:hover {
  background-size: 100% 88%;
}


.about{
  padding-top: 12vh;
    padding-bottom: 20px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3vmax;
}

.projects{
  padding-top: 12vh;
    padding-bottom: 20px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3vmax;
}

.box{
  margin: 5vw;
  height:35vh;
}

