body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-image: url('./assets/images/bg3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:10px;
}


